<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<div th:replace="fragments/header :: header">
			<!-- ============================================================================ -->
			<!-- This content is only used for static prototyping purposes (natural templates)-->
			<!-- and is therefore entirely optional, as this markup fragment will be included -->
			<!-- from "fragments/header.html" at runtime.                                     -->
			<!-- ============================================================================ -->
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Static header</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<p th:text="'Hello, ' + ${name} + '!'" />
		<p th:text="'Hello, ' + ${name} + '!'" />
		<div th:replace="fragments/footer :: footer">&copy; 2016 The
			Static Templates</div>
	</div>

</body>
</html>